<div class="header" [ngClass]="{'dark-mode': darkMode}">
    <h1>{{personalDetails.firstName}} {{personalDetails.lastName}}</h1>
    <h2>Student</h2>
    <h3>A learner with passion to build a career in the field of technology</h3>
    <p><a href="{{socialLinks.linkedin}}" target="_blank">LinkedIn</a></p>
    <p><a href="{{socialLinks.x}}" target="_blank">X</a></p>
    <p><a href="{{socialLinks.github}}" target="_blank">GitHub</a></p>
    <p><a href="{{socialLinks.facebook}}" target="_blank">FaceBook</a></p>
    

</div>
