<div class="about" [ngClass]="{'dark-mode': darkMode}">
    <h2>About Me</h2>
    <p>I am a dedicated student pursuing a Computer Programming diploma at Sheridan College, with a strong passion for building a career in technology. My education has provided me with a solid foundation in software development, programming languages, and problem-solving skills. I actively engage in coding challenges, tech workshops, and exploring new technologies to stay current in this dynamic field. My goal is to innovate and create impactful solutions that address real-world problems. I am eager to leverage my knowledge and enthusiasm to contribute to the tech industry and grow as a professional.</p>
</div>



